## k-cross val score

In [1]:
from sklearn import datasets
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

import numpy as np
import pandas as pd

import warnings
warnings.simplefilter(action='ignore',category=FutureWarning) # ignore error message

In [2]:
iris_data = datasets.load_iris()

In [3]:
X = pd.DataFrame(iris_data.data,columns=iris_data.feature_names)
y = pd.DataFrame(iris_data.target,columns=['Class'])

In [4]:
logistic_model = LogisticRegression(max_iter=2000)

In [5]:
np.average(cross_val_score(logistic_model,X,y.values.ravel(),cv=5))

0.9733333333333334

## grid search

In [10]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import GridSearchCV

from math import sqrt

In [11]:
df = pd.read_csv('data/admission_data.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332,108,5,4.5,4.0,9.02,1,0.87
496,497,337,117,5,5.0,5.0,9.87,1,0.96
497,498,330,120,5,4.5,5.0,9.56,1,0.93
498,499,312,103,4,4.0,5.0,8.43,0,0.73
499,500,327,113,4,4.5,4.5,9.04,0,0.84

In [12]:
X = df.drop(['Chance of Admit '],axis=1)
poly_transfer = PolynomialFeatures(6)
poly_features = poly_transfer.fit_transform(X.values)
features = poly_transfer.get_feature_names(X.columns)

X = pd.DataFrame(poly_features,columns=features)
X.head()

,1,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Serial No.^2,...,LOR CGPA^2 Research^3,LOR CGPA Research^4,LOR Research^5,CGPA^6,CGPA^5 Research,CGPA^4 Research^2,CGPA^3 Research^3,CGPA^2 Research^4,CGPA Research^5,Research^6
0,1.0,1.0,337.0,118.0,4.0,4.5,4.5,9.65,1.0,1.0,...,419.05125,43.425,4.5,807539.696082,83682.870060,8671.800006,898.632125,93.1225,9.65,1.0
1,1.0,2.0,324.0,107.0,4.0,4.0,4.5,8.87,1.0,4.0,...,354.04605,39.915,4.5,487014.306256,54905.784245,6190.054594,697.864103,78.6769,8.87,1.0
2,1.0,3.0,316.0,104.0,3.0,3.0,3.5,8.00,1.0,9.0,...,224.00000,28.000,3.5,262144.000000,32768.000000,4096.000000,512.000000,64.0000,8.00,1.0
3,1.0,4.0,322.0,110.0,3.0,3.5,2.5,8.67,1.0,16.0,...,187.92225,21.675,2.5,424731.610940,48988.651781,5650.363527,651.714363,75.1689,8.67,1.0
4,1.0,5.0,314.0,103.0,2.0,2.0,3.0,8.21,0.0,25.0,...,0.00000,0.000,0.0,306237.903347,0.000000,0.000000,0.000000,0.0000,0.00,0.0

In [13]:
y = df[['Chance of Admit ']]
y.head()

   Chance of Admit
0              0.92
1              0.76
2              0.72
3              0.80
4              0.65

In [14]:
hyper_parameter={
    'alpha':[0.01,0.1,1,10],
    'max_iter':[100,500,1000,1500,2000]
}

In [15]:
model = Lasso()

In [22]:
hyper_tuner = GridSearchCV(model,hyper_parameter,cv=5)
hyper_tuner.fit(X,y)

GridSearchCV(cv=5, estimator=Lasso(),
             param_grid={'alpha': [0.01, 0.1, 1, 10],
                         'max_iter': [100, 500, 1000, 1500, 2000]})

In [23]:
hyper_tuner.best_params_

{'alpha': 0.1, 'max_iter': 100}

In [21]:
from tensorflow.python.client import device_lib

print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 6794545465172024424
, name: "/device:XLA_CPU:0"
device_type: "XLA_CPU"
memory_limit: 17179869184
locality {
}
incarnation: 15433488427516132768
physical_device_desc: "device: XLA_CPU device"
]