In [3]:
import pandas as pd
import numpy as np

In [4]:
two_dimentional_list = [['dongwook',50,86],['sineio',89,31],['ikjoong',68,91],['yoonsoo',88,75]]

In [7]:
my_df = pd.DataFrame(two_dimentional_list,columns=['name','eng_score','math_score'],index=['a','b','c','d'])
my_df

       name  eng_score  math_score
a  dongwook         50          86
b    sineio         89          31
c   ikjoong         68          91
d   yoonsoo         88          75

In [6]:
type(my_df)

pandas.core.frame.DataFrame

In [8]:
my_df.columns

Index(['name', 'eng_score', 'math_score'], dtype='object')

In [9]:
my_df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
my_df.dtypes

name          object
eng_score      int64
math_score     int64
dtype: object

## From list of lists, array of arrays, list of series

In [11]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]
two_dimensional_array = np.array(two_dimensional_list)
list_of_series = [
    pd.Series(['dongwook', 50, 86]), 
    pd.Series(['sineui', 89, 31]), 
    pd.Series(['ikjoong', 68, 91]), 
    pd.Series(['yoonsoo', 88, 75])
]

# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(two_dimensional_list)
df2 = pd.DataFrame(two_dimensional_array)
df3 = pd.DataFrame(list_of_series)

print(df1)

0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

## From dict of lists, dict of arrays, dict of series

In [12]:
names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

dict1 = {
    'name': names, 
    'english_score': english_scores, 
    'math_score': math_scores
}

dict2 = {
    'name': np.array(names), 
    'english_score': np.array(english_scores), 
    'math_score': np.array(math_scores)
}

dict3 = {
    'name': pd.Series(names), 
    'english_score': pd.Series(english_scores), 
    'math_score': pd.Series(math_scores)
}


# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
df3 = pd.DataFrame(dict3)

print(df1)

name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

## From list of dicts

In [13]:
my_list = [
    {'name': 'dongwook', 'english_score': 50, 'math_score': 86},
    {'name': 'sineui', 'english_score': 89, 'math_score': 31},
    {'name': 'ikjoong', 'english_score': 68, 'math_score': 91},
    {'name': 'yoonsoo', 'english_score': 88, 'math_score': 75}
]

df = pd.DataFrame(my_list)
print(df)

name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

## Datatype

In [14]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

my_df = pd.DataFrame(two_dimensional_list, columns=['name', 'english_score', 'math_score'], index=['a', 'b', 'c', 'd'])

print(my_df.dtypes)

name             object
english_score     int64
math_score        int64
dtype: object


|dtype  | 설명 |
|--|--|
| int64 | 정수 | 
|float64	|소수|   
|object|	텍스트   |
|bool|	불린(참과 거짓)|   
|datetime64|	날짜와 시간 |  
|category|	카테고리   |

In [15]:
iphone_df = pd.read_csv('data/iphone.csv')
# 첫줄을 헤더로 인식
iphone_df

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [16]:
type(iphone_df)

pandas.core.frame.DataFrame

In [18]:
iphone_df = pd.read_csv('data/iphone.csv',header=None,index_col=0) #모두 데이터로 읽고 싶을 때 / 특정 col 을 index로 설정
iphone_df

                        1      2    3         4        5
0
NaN                   출시일  디스플레이  메모리     출시 버전  Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0       No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0       No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0       No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0       No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1      Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0      Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0      Yes