In [3]:
import pandas as pd

df = pd.read_csv('data/enrollment.csv')

In [4]:
df

           id  year           course name
0     2777729     1               science
1     2777730     2               science
2     2777765     1                  arts
3     2777766     2                  arts
4     2777785     1                   mba
...       ...   ...                   ...
1995  2796805     3  computer application
1996  2796812     1               nursing
1997  2796813     2               nursing
1998  2796814     3               nursing
1999  2796815     4               nursing

[2000 rows x 3 columns]

In [6]:
df['status']='allowed'
df.loc[(df['year']==1) & (df['course name']=='information technology'),'status']='not allowed'
df.loc[(df['year']==4) & (df['course name']=='commerce'),'status']='not allowed'
# df[df['course name'].value_counts()<5]='not allowed'
df

           id  year           course name   status
0     2777729     1               science  allowed
1     2777730     2               science  allowed
2     2777765     1                  arts  allowed
3     2777766     2                  arts  allowed
4     2777785     1                   mba  allowed
...       ...   ...                   ...      ...
1995  2796805     3  computer application  allowed
1996  2796812     1               nursing  allowed
1997  2796813     2               nursing  allowed
1998  2796814     3               nursing  allowed
1999  2796815     4               nursing  allowed

[2000 rows x 4 columns]

In [8]:
filt = df['course name'].value_counts()<5
filt

arts           False
science        False
commerce       False
english        False
education      False
               ...
sciences        True
arthroscopy     True
full time       True
technician      True
chemstry        True
Name: course name, Length: 296, dtype: bool

In [10]:
filt = filt[filt]
filt

physical education      True
information subjects    True
mech                    True
bpt                     True
leather design          True
                        ...
sciences                True
arthroscopy             True
full time               True
technician              True
chemstry                True
Name: course name, Length: 214, dtype: bool

In [12]:
fil_l = list(filt.index)
fil_l

['physical education',
 'information subjects',
 'mech',
 'bpt',
 'leather design',
 'applied sc.',
 'tool & die making',
 'korean',
 'electros & communicationnic',
 'computer engg with specialization in cloud computing.',
 'electrical and electronics engineering',
 'chemical',
 'mechanical engg.',
 'electronics and instrumentation',
 'environment',
 'data structure',
 'instrumentation engineering',
 'electronics and communication',
 'civil engg',
 'agriculture',
 'computer architecture',
 'pathology',
 'refactoring',
 'engg. & tech.',
 'database',
 'fashion communication',
 'mechanical related subjects',
 'electronics & communication engineering',
 'electrical engg',
 'tm',
 'admistrator',
 'bjmc',
 'cmmerce',
 'bcom (general)',
 'rasshastra evum bhaisgya kalpana',
 'dcp',
 'i.t',
 'co-operation',
 'medicine',
 'yes',
 'master of computer application',
 'bcom computer',
 'b.com.',
 'anaesthesiology',
 'politics',
 'bsc mpe',
 'electronics & comm. engg.',
 'b.b.m',
 'bsc bzc',
 'bca',
 'electronics & comm engg',
 'hons.',
 'sahitya',
 'bbi',
 'administration services',
 'computers (ug)',
 'all subjects',
 'applied science & humanities',
 'computer engg',
 '3 year ll.b course',
 'civit',
 'res',
 'bcom finance and taxation',
 'mobile communication',
 'vocational',
 'travel tourism & hospitality management',
 'english literature',
 'professional  accounting',
 'saskrit',
 'digital electronics',
 'b.sc-m.p.c',
 'electronics engineering',
 'co',
 'comp(em)',
 'corporate secaratoryship',
 'comp science',
 'music vocal',
 'mca 2nd shift',
 'science(bzc)',
 'm.i.l',
 'jain darshan',
 'bcom marketing',
 'b.com (p)',
 'eep',
 'software computer science',
 'diploma',
 'community medicine',
 'diploma in computer engineering',
 'deee',
 'electronics & communication engineeering',
 'pol-science',
 'btzc',
 'computers',
 'kayachikitsa',
 'industrial microbiology',
 'gandhian thought',
 'buisiness administration',
 'tb & chest',
 'b.com.(gen.e/m)',
 'bsc btmc',
 'discipline',
 'microbiology-botany-chemistry',
 'mat',
 'if',
 'mangement',
 'ai & as',
 'electronic',
 'c bc bt',
 'compulsory',
 'em',
 'tax procedure and practice',
 'construction technology',
 'computer appplication',
 'social studies',
 'lab technology',
 'aero dynamics',
 'hcl',
 'international business',
 'mba 2nd shift',
 'it cs',
 'transportation engineering',
 'molecular virology',
 'mass relation',
 'quality assurance',
 'fibre optics and communication',
 'history & archeology',
 'biochemistry',
 'civil and environmental engineering',
 'msc cs',
 'cad/cam',
 'communication and signal processing',
 'drugs and pharmaceuticals',
 'english geography',
 'm.com',
 'spl. education',
 'automobile engineering',
 'computational mathematics',
 'm.sc chemistry(analytical chemistry)',
 'electro nics and commun ications enginee ring',
 'medical surgical nursing',
 'pharmacognosy',
 'digital communicati ons',
 'mpharmacypa',
 'dharmashastra',
 'git',
 'vlsi design and signal processing',
 'infra structural engineering',
 'dance-parangat',
 'thermal power engineering',
 'dmrd',
 'arts/commerce/science/maths',
 'science arts',
 'd.el.ed',
 'math chemistry',
 'btc 2013',
 'polotical',
 'chmistry',
 'political sc',
 'btc-2012',
 'material science and engineering',
 'special education (h.i.)',
 'environmental engg.',
 'mpharmacy',
 'data science',
 'veterinary epidemiology & preventive medicine',
 'information security',
 'computer integrated manufacturing',
 'scientific computing',
 'power & energy systems',
 'nuclear science & engineering',
 'social work',
 'vlsi',
 'architecture',
 'co-education',
 'nano science & technology',
 'electronics & communication engg.  with specialization in  vlsi design & embedded systems',
 'pharmaceutics',
 'social science',
 'b.ed.',
 'physical science',
 'nutrition & dietetics',
 'd.ed',
 'taalvadya-parichay',
 'power systems engineering',
 'structural engineering',
 'construction technology and management',
 '(biotechnology))',
 'bio technology',
 'lib. & info sci',
 'dcl',
 'arts/science',
 'computer science (lateral entry)',
 'statistics',
 'pgdca',
 'environmental science',
 'home sc. food & nutrition',
 'jmc',
 'aih',
 'pg.diploma',
 'library and information',
 'b.ed',
 'biological sciences',
 'humanities and social science (h',
 'aqua culture',
 'library',
 'library & information & science',
 'school of management',
 'punjabi',
 'physical edu.',
 'sciences',
 'arthroscopy',
 'full time',
 'technician',
 'chemstry']

In [13]:
for val in fil_list:
    # print(val)
    df.loc[df['course name']==val,'status']='not allowed'
df

           id  year           course name   status
0     2777729     1               science  allowed
1     2777730     2               science  allowed
2     2777765     1                  arts  allowed
3     2777766     2                  arts  allowed
4     2777785     1                   mba  allowed
...       ...   ...                   ...      ...
1995  2796805     3  computer application  allowed
1996  2796812     1               nursing  allowed
1997  2796813     2               nursing  allowed
1998  2796814     3               nursing  allowed
1999  2796815     4               nursing  allowed

[2000 rows x 4 columns]