In [1]:
import pandas as pd

In [4]:
price_df = pd.read_csv('data/vegetable_price.csv')
quantity_df = pd.read_csv('data/vegetable_quantity.csv')

In [5]:
price_df

   Product  Price
0   Potato   3000
1    Onion   1600
2  Avocado   5000
3   Garlic   1200
4   Tomato   3500
5  Lettuce   2000
6   Carrot   2500

In [6]:
quantity_df

    Product  Quantity
0    Potato        25
1     Onion        31
2   Avocado        57
3    Pepper        46
4  Broccoli        25
5  Cucumber         9

In [8]:
pd.merge(price_df,quantity_df,on='Product') #inner

   Product  Price  Quantity
0   Potato   3000        25
1    Onion   1600        31
2  Avocado   5000        57

In [9]:
pd.merge(price_df,quantity_df,on='Product',how='left') #left

   Product  Price  Quantity
0   Potato   3000      25.0
1    Onion   1600      31.0
2  Avocado   5000      57.0
3   Garlic   1200       NaN
4   Tomato   3500       NaN
5  Lettuce   2000       NaN
6   Carrot   2500       NaN

In [10]:
pd.merge(price_df,quantity_df,on='Product',how='right') #right

    Product   Price  Quantity
0    Potato  3000.0        25
1     Onion  1600.0        31
2   Avocado  5000.0        57
3    Pepper     NaN        46
4  Broccoli     NaN        25
5  Cucumber     NaN         9

In [11]:
pd.merge(price_df,quantity_df,on='Product',how='outer') #outer

    Product   Price  Quantity
0    Potato  3000.0      25.0
1     Onion  1600.0      31.0
2   Avocado  5000.0      57.0
3    Garlic  1200.0       NaN
4    Tomato  3500.0       NaN
5   Lettuce  2000.0       NaN
6    Carrot  2500.0       NaN
7    Pepper     NaN      46.0
8  Broccoli     NaN      25.0
9  Cucumber     NaN       9.0