In [1]:
import pandas as pd

## 박물관이 살아있다 1

In [2]:
df = pd.read_csv('data/museum1.csv')
df

             시설명  어른관람료      운영기관전화번호
0     필암서원 유물전시관    500  061-390-7224
1        원주역사박물관      0  033-737-4371
2        뮤지엄산미술관  15000  033-730-9000
3      오랜미래신화미술관      0  033-746-5256
4    연세대학교 원주박물관      0  033-760-2731
..           ...    ...           ...
895        함양박물관      0  055-960-5532
896         박물관수   5000  053-744-5500
897    대구은행금융박물관      0  053-740-2061
898      국립대구박물관      0  053-768-6051
899    증평민속체험박물관      0  043-835-4161

[900 rows x 3 columns]

In [3]:
df['분류']='일반'
univ = df['시설명'].str.contains('대학')
df.loc[univ,'분류']='대학'
df

             시설명  어른관람료      운영기관전화번호  분류
0     필암서원 유물전시관    500  061-390-7224  일반
1        원주역사박물관      0  033-737-4371  일반
2        뮤지엄산미술관  15000  033-730-9000  일반
3      오랜미래신화미술관      0  033-746-5256  일반
4    연세대학교 원주박물관      0  033-760-2731  대학
..           ...    ...           ...  ..
895        함양박물관      0  055-960-5532  일반
896         박물관수   5000  053-744-5500  일반
897    대구은행금융박물관      0  053-740-2061  일반
898      국립대구박물관      0  053-768-6051  일반
899    증평민속체험박물관      0  043-835-4161  일반

[900 rows x 4 columns]

## 박물관이 살아있다 2

In [4]:
df2 = pd.read_csv('data/museum2.csv')
df2

             시설명  어른관람료      운영기관전화번호  분류
0     필암서원 유물전시관    500  061-390-7224  일반
1        원주역사박물관      0  033-737-4371  일반
2        뮤지엄산미술관  15000  033-730-9000  일반
3      오랜미래신화미술관      0  033-746-5256  일반
4    연세대학교 원주박물관      0  033-760-2731  대학
..           ...    ...           ...  ..
895        함양박물관      0  055-960-5532  일반
896         박물관수   5000  053-744-5500  일반
897    대구은행금융박물관      0  053-740-2061  일반
898      국립대구박물관      0  053-768-6051  일반
899    증평민속체험박물관      0  043-835-4161  일반

[900 rows x 4 columns]

In [5]:
num = df2['운영기관전화번호'].str.split('-',n=1,expand=True)
num

       0         1
0    061  390-7224
1    033  737-4371
2    033  730-9000
3    033  746-5256
4    033  760-2731
..   ...       ...
895  055  960-5532
896  053  744-5500
897  053  740-2061
898  053  768-6051
899  043  835-4161

[900 rows x 2 columns]

In [15]:
text = list(df2['운영기관전화번호'].str.split('-'))
text
dff = pd.DataFrame(text)
dff

       0    1     2
0    061  390  7224
1    033  737  4371
2    033  730  9000
3    033  746  5256
4    033  760  2731
..   ...  ...   ...
895  055  960  5532
896  053  744  5500
897  053  740  2061
898  053  768  6051
899  043  835  4161

[900 rows x 3 columns]

In [6]:
df2['지역번호']=num[0]
df2

             시설명  어른관람료      운영기관전화번호  분류 지역번호
0     필암서원 유물전시관    500  061-390-7224  일반  061
1        원주역사박물관      0  033-737-4371  일반  033
2        뮤지엄산미술관  15000  033-730-9000  일반  033
3      오랜미래신화미술관      0  033-746-5256  일반  033
4    연세대학교 원주박물관      0  033-760-2731  대학  033
..           ...    ...           ...  ..  ...
895        함양박물관      0  055-960-5532  일반  055
896         박물관수   5000  053-744-5500  일반  053
897    대구은행금융박물관      0  053-740-2061  일반  053
898      국립대구박물관      0  053-768-6051  일반  053
899    증평민속체험박물관      0  043-835-4161  일반  043

[900 rows x 5 columns]

## 박물관이 살아있다 3

In [34]:
df3 = pd.read_csv('data/museum3.csv', dtype={'지역번호': str})
df3

             시설명  어른관람료      운영기관전화번호  분류 지역번호
0     필암서원 유물전시관    500  061-390-7224  일반  061
1        원주역사박물관      0  033-737-4371  일반  033
2        뮤지엄산미술관  15000  033-730-9000  일반  033
3      오랜미래신화미술관      0  033-746-5256  일반  033
4    연세대학교 원주박물관      0  033-760-2731  대학  033
..           ...    ...           ...  ..  ...
895        함양박물관      0  055-960-5532  일반  055
896         박물관수   5000  053-744-5500  일반  053
897    대구은행금융박물관      0  053-740-2061  일반  053
898      국립대구박물관      0  053-768-6051  일반  053
899    증평민속체험박물관      0  043-835-4161  일반  043

[900 rows x 5 columns]

In [35]:
region = {
    "02":"서울시",
    "031":"경기도","032":"경기도",
    "033":"강원도",
    "041":"충청도","042":"충청도","043":"충청도","044":"충청도",
    "051":"부산시",
    "052":"경상도","053":"경상도","054":"경상도","055":"경상도",
    "061":"전라도","062":"전라도","063":"전라도",
    "064":"제주도",
    "1577":"기타","070":"기타"
}

In [36]:
df3.rename(columns={"지역번호":"지역명"},inplace=True)
df3

             시설명  어른관람료      운영기관전화번호  분류  지역명
0     필암서원 유물전시관    500  061-390-7224  일반  061
1        원주역사박물관      0  033-737-4371  일반  033
2        뮤지엄산미술관  15000  033-730-9000  일반  033
3      오랜미래신화미술관      0  033-746-5256  일반  033
4    연세대학교 원주박물관      0  033-760-2731  대학  033
..           ...    ...           ...  ..  ...
895        함양박물관      0  055-960-5532  일반  055
896         박물관수   5000  053-744-5500  일반  053
897    대구은행금융박물관      0  053-740-2061  일반  053
898      국립대구박물관      0  053-768-6051  일반  053
899    증평민속체험박물관      0  043-835-4161  일반  043

[900 rows x 5 columns]

In [37]:
df3['지역명'] = df3['지역명'].map(region)
df3

             시설명  어른관람료      운영기관전화번호  분류  지역명
0     필암서원 유물전시관    500  061-390-7224  일반  전라도
1        원주역사박물관      0  033-737-4371  일반  강원도
2        뮤지엄산미술관  15000  033-730-9000  일반  강원도
3      오랜미래신화미술관      0  033-746-5256  일반  강원도
4    연세대학교 원주박물관      0  033-760-2731  대학  강원도
..           ...    ...           ...  ..  ...
895        함양박물관      0  055-960-5532  일반  경상도
896         박물관수   5000  053-744-5500  일반  경상도
897    대구은행금융박물관      0  053-740-2061  일반  경상도
898      국립대구박물관      0  053-768-6051  일반  경상도
899    증평민속체험박물관      0  043-835-4161  일반  충청도

[900 rows x 5 columns]

## 박물관이 살아있다 4

In [5]:
mus = pd.read_csv('data/museum3.csv')
mus

             시설명  어른관람료      운영기관전화번호  분류  지역번호
0     필암서원 유물전시관    500  061-390-7224  일반    61
1        원주역사박물관      0  033-737-4371  일반    33
2        뮤지엄산미술관  15000  033-730-9000  일반    33
3      오랜미래신화미술관      0  033-746-5256  일반    33
4    연세대학교 원주박물관      0  033-760-2731  대학    33
..           ...    ...           ...  ..   ...
895        함양박물관      0  055-960-5532  일반    55
896         박물관수   5000  053-744-5500  일반    53
897    대구은행금융박물관      0  053-740-2061  일반    53
898      국립대구박물관      0  053-768-6051  일반    53
899    증평민속체험박물관      0  043-835-4161  일반    43

[900 rows x 5 columns]

In [4]:
reg = pd.read_csv('data/region_number.csv')
reg

    지역번호      지역명
0      2    서울특별시
1     31      경기도
2     32    인천광역시
3     33      강원도
4     41     충청남도
5     42    대전광역시
6     43     충청북도
7     44  세종특별자치시
8     51    부산광역시
9     52    울산광역시
10    53    대구광역시
11    54     경상북도
12    55     경상남도
13    61     전라남도
14    62    광주광역시
15    63     전라북도
16    64  제주특별자치도
17    70    인터넷전화
18  1577     기타번호

In [10]:
pd.merge(mus,reg,on='지역번호',how='left')

             시설명  어른관람료      운영기관전화번호  분류  지역번호    지역명
0     필암서원 유물전시관    500  061-390-7224  일반    61   전라남도
1        원주역사박물관      0  033-737-4371  일반    33    강원도
2        뮤지엄산미술관  15000  033-730-9000  일반    33    강원도
3      오랜미래신화미술관      0  033-746-5256  일반    33    강원도
4    연세대학교 원주박물관      0  033-760-2731  대학    33    강원도
..           ...    ...           ...  ..   ...    ...
895        함양박물관      0  055-960-5532  일반    55   경상남도
896         박물관수   5000  053-744-5500  일반    53  대구광역시
897    대구은행금융박물관      0  053-740-2061  일반    53  대구광역시
898      국립대구박물관      0  053-768-6051  일반    53  대구광역시
899    증평민속체험박물관      0  043-835-4161  일반    43   충청북도

[900 rows x 6 columns]