In [1]:
import pandas as pd

In [18]:
lv_df = pd.read_csv('data/liverpool.csv',index_col = 0)
lv_df

                Position  Born  Number Nationality
Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [15]:
lv_df.rename(columns={'Position':'Posaaddition'})

                Posaaddition  Born  Number Nationality
Name
Roberto Firmino           FW  1991   no. 9      Brazil
Sadio Mane                FW  1992  no. 10     Senegal
Mohamed Salah             FW  1992  no. 11       Egypt
Joe Gomez                 DF  1997  no. 12     England
Alisson Becker            GK  1992  no. 13      Brazil

In [17]:
lv_df.rename(columns={'Position':'Posaaddition'},inplace=True)
lv_df

                Posaaddition  Born  Number Nationality
Name
Roberto Firmino           FW  1991   no. 9      Brazil
Sadio Mane                FW  1992  no. 10     Senegal
Mohamed Salah             FW  1992  no. 11       Egypt
Joe Gomez                 DF  1997  no. 12     England
Alisson Becker            GK  1992  no. 13      Brazil

In [19]:
lv_df.index.name = 'Player Name'
lv_df

                Position  Born  Number Nationality
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [20]:
lv_df.set_index('Number')

       Position  Born Nationality
Number
no. 9        FW  1991      Brazil
no. 10       FW  1992     Senegal
no. 11       FW  1992       Egypt
no. 12       DF  1997     England
no. 13       GK  1992      Brazil

In [21]:
lv_df.index

Index(['Roberto Firmino', 'Sadio Mane', 'Mohamed Salah', 'Joe Gomez',
       'Alisson Becker'],
      dtype='object', name='Player Name')

In [22]:
lv_df['Player Name']=lv_df.index
lv_df.set_index('Number',inplace=True)
# 보통 겹치지 않는 값으로 인덱스 설정
lv_df

       Position  Born Nationality      Player Name
Number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker