In [1]:
import pandas as pd

In [16]:
iphone_df = pd.read_csv('data/iphone.csv',index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [4]:
iphone_df.loc['iPhone 8','메모리']='2.9GB'

In [5]:
iphone_df.loc['iPhone 8','메모리']

'2.9GB'

In [6]:
iphone_df.loc['iPhone 8']

출시일        2017-09-22
디스플레이             4.7
메모리             2.9GB
출시 버전        iOS 11.0
Face ID            No
Name: iPhone 8, dtype: object

In [7]:
iphone_df.loc['iPhone 8']=['2016-09-22','4.7','2GB','iOS 11-0','No']

In [8]:
iphone_df.loc['iPhone 8']

출시일        2016-09-22
디스플레이             4.7
메모리               2GB
출시 버전        iOS 11-0
Face ID            No
Name: iPhone 8, dtype: object

In [9]:
iphone_df.loc[:,'디스플레이']=['4.7 in','4.7 in','4.7 in','4.7 in','4.7 in','5.0 in','4.7 in']

In [10]:
iphone_df['디스플레이']

iPhone 7         4.7 in
iPhone 7 Plus    4.7 in
iPhone 8         4.7 in
iPhone 8 Plus    4.7 in
iPhone X         4.7 in
iPhone XS        5.0 in
iPhone XS Max    4.7 in
Name: 디스플레이, dtype: object

In [11]:
iphone_df['Face ID']="Yes"
iphone_df['Face ID']

iPhone 7         Yes
iPhone 7 Plus    Yes
iPhone 8         Yes
iPhone 8 Plus    Yes
iPhone X         Yes
iPhone XS        Yes
iPhone XS Max    Yes
Name: Face ID, dtype: object

## 여러 줄 바꾸기

In [12]:
iphone_df[['디스플레이','Face ID']] = 'x'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16     x  2GB  iOS 10.0       x
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2016-09-22     x  2GB  iOS 11-0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [13]:
iphone_df.loc[['iPhone 7','iPhone 8'],:]='0'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                0     0    0         0       0
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8                0     0    0         0       0
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [14]:
iphone_df.loc['iPhone 7':'iPhone 8'] = 'x'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                x     x    x         x       x
iPhone 7 Plus           x     x    x         x       x
iPhone 8                x     x    x         x       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [17]:
iphone_df['디스플레이']>5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [18]:
iphone_df.loc[iphone_df['디스플레이']>5] ='p'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     p    p         p       p
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     p    p         p       p
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

In [19]:
iphone_df.iloc[[1,3],[1,4]] = 'v'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     v    p         p       v
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     v    p         p       v
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

In [20]:
iphone_df.loc['iPhone XR']=['20','6.1','3GB','iOS 12.0.1','Yes']

In [21]:
iphone_df

                      출시일 디스플레이  메모리       출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB    iOS 10.0      No
iPhone 7 Plus           p     v    p           p       v
iPhone 8       2017-09-22   4.7  2GB    iOS 11.0      No
iPhone 8 Plus           p     v    p           p       v
iPhone X                p     p    p           p       p
iPhone XS               p     p    p           p       p
iPhone XS Max           p     p    p           p       p
iPhone XR              20   6.1  3GB  iOS 12.0.1     Yes

In [22]:
iphone_df['제조사']='Apple'
iphone_df

                      출시일 디스플레이  메모리       출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus           p     v    p           p       v  Apple
iPhone 8       2017-09-22   4.7  2GB    iOS 11.0      No  Apple
iPhone 8 Plus           p     v    p           p       v  Apple
iPhone X                p     p    p           p       p  Apple
iPhone XS               p     p    p           p       p  Apple
iPhone XS Max           p     p    p           p       p  Apple
iPhone XR              20   6.1  3GB  iOS 12.0.1     Yes  Apple

In [23]:
iphone_df.drop('iPhone XR',axis='index',inplace=False)
# inplace 기존 테이블 건드리지 않는다

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus           p     v    p         p       v  Apple
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus           p     v    p         p       v  Apple
iPhone X                p     p    p         p       p  Apple
iPhone XS               p     p    p         p       p  Apple
iPhone XS Max           p     p    p         p       p  Apple

In [24]:
iphone_df.drop('제조사',axis='columns')

                      출시일 디스플레이  메모리       출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB    iOS 10.0      No
iPhone 7 Plus           p     v    p           p       v
iPhone 8       2017-09-22   4.7  2GB    iOS 11.0      No
iPhone 8 Plus           p     v    p           p       v
iPhone X                p     p    p           p       p
iPhone XS               p     p    p           p       p
iPhone XS Max           p     p    p           p       p
iPhone XR              20   6.1  3GB  iOS 12.0.1     Yes

In [25]:
iphone_df.drop(['iPhone 7','iPhone XR'],axis='index',inplace=False)
#여러 값 삭제

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7 Plus           p     v    p         p       v  Apple
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus           p     v    p         p       v  Apple
iPhone X                p     p    p         p       p  Apple
iPhone XS               p     p    p         p       p  Apple
iPhone XS Max           p     p    p         p       p  Apple