In [1]:
import pandas as pd

In [2]:
iphone_df = pd.read_csv('data/iphone.csv',index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
  iphone_df.loc['iPhone 8','메모리']

'2GB'

In [4]:
iphone_df.loc['iPhone X',:]

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [5]:
iphone_df.loc[:,'출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [6]:
iphone_df.loc[['iPhone X','iPhone 8'],:]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [7]:
type(iphone_df.loc[['iPhone X','iPhone 8'],:])

pandas.core.frame.DataFrame

In [8]:
iphone_df[['Face ID','출시일']]

              Face ID         출시일
iPhone 7           No  2016-09-16
iPhone 7 Plus      No  2016-09-16
iPhone 8           No  2017-09-22
iPhone 8 Plus      No  2017-09-22
iPhone X          Yes  2017-11-03
iPhone XS         Yes  2018-09-21
iPhone XS Max     Yes  2018-09-21

In [9]:
iphone_df['iPhone 8':'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [10]:
iphone_df['iPhone 8':]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [11]:
iphone_df.loc['iPhone 7':'iPhone 8','메모리':'Face ID']

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No

## 필터링

In [12]:
iphone_df.loc[[True,False,True,True,False,True,False]]
# 필터링

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [13]:
iphone_df.loc[:,[True,False,False,True,False]]

                      출시일     출시 버전
iPhone 7       2016-09-16  iOS 10.0
iPhone 7 Plus  2016-09-16  iOS 10.0
iPhone 8       2017-09-22  iOS 11.0
iPhone 8 Plus  2017-09-22  iOS 11.0
iPhone X       2017-11-03  iOS 11.1
iPhone XS      2018-09-21  iOS 12.0
iPhone XS Max  2018-09-21  iOS 12.0

In [14]:
iphone_df['디스플레이']>5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [15]:
iphone_df.loc[iphone_df['디스플레이']>5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [16]:
iphone_df.loc[iphone_df['Face ID']=='Yes']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [17]:
iphone_df.loc[(iphone_df['디스플레이']>5) & (iphone_df['Face ID']=='Yes')]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## Index Location

In [23]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [18]:
iphone_df.iloc[2,4]

'No'

In [21]:
iphone_df.iloc[[1,3],[1,4]]

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [24]:
iphone_df.iloc[3:-1,1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0


## 정리본
| 위치로 인덱싱 | 기본형태 |단축형태|
|--|--|--|
|하나의 row 위치	|df.iloc\[8]	|
|row 위치의 리스트	|df.iloc\[\[4, 5, 3]]	|
|row 위치의 리스트 슬라이싱|	df.iloc\[2:5]|	df\[2:5]|
|하나의 column 위치	|df.iloc\[:, 3]	|
|column 위치의 리스트	|df.iloc\[:, \[3, 5, 6]]	|
|column 위치의 리스트 슬라이싱|	df.iloc\[:, 3:7]	|

|이름으로 인덱싱하기|	기본 형태	|단축 형태|
|--|--|--|
|하나의 row 이름|	df.loc\["row4"]	|
|row 이름의 리스트|	df.loc\[\["row4", "row5", "row3"]]	|
|row 이름의 리스트 슬라이싱|	df.loc\["row2":"row5"]|	df\["row2":"row5"]|
|하나의 column 이름|	df.loc\[:, "col1"]|	df\["col1"]|
|column 이름의 리스트|	df.loc\[:, \["col4", "col6", "col3"]]	|df\[\["col4", "col6", "col3"]]|
|column 이름의 리스트 슬라이싱|	df.loc\[:, "col2":"col5"]	|